@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="~/images/home.png" />

    <form asp-action="InsertCloudSql" asp-controller="Home" method="post">
        @Html.AntiForgeryToken()
        <button type="submit">Run Cloud SQL Stored Procedure</button>
    </form>

    <p id="resultMsg" style="margin-top:20px;"></p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@section Scripts {
    <script>
        document.getElementById("insertCloudSql").addEventListener("click", function () {
            fetch('/Home/InsertCloudSql', {
                method: 'POST',
                headers: {
                    'RequestVerificationToken': document.querySelector('input[name="__RequestVerificationToken"]').value,
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById("resultMsg").textContent = data.message;
                })
                .catch(error => {
                    document.getElementById("resultMsg").textContent = "Error: " + error;
                });
        });
    </script>
}